# Ignore virtual environment
ai_env/
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Ignore installed libraries
Lib/
Scripts/
include/
share/
*.dist-info/

# Ignore models
models/*.pkl

# Ignore datasets
data/*.csv

# Ignore IDE files
.vscode/
.idea/
